.block {
  width: 320px;
  height: 320px;
  border: 1px solid #3f51b52a;
  background-color: #fdfdfd;
  margin-left: 50px;
  padding: 10px;
  margin-top: 50px;
}
.block__container {
  height: 70%;
}

.block__container > p {
  word-wrap: break-word;
  margin-top: 10px;
}

.block__container > p > span {
  font-weight: bold;
  margin-right: 20px;
}

.block__button {
  margin-top: 30px !important;
  width: 80% !important;
  margin-left: 10% !important;
  margin-right: 10% !important;
}

.dialog__header {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.dialog__header > p > span {
  margin-right: 20px;
  font-weight: bold;
}

.dialog__header > p {
  font-weight: 300;
}

.block__genesis {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #3f51b5;
}
